body {
    width: 400px;
    height: 600px;
    margin: auto;
    border: 1px lightgray solid;
}

#content{
    display: grid;
    grid-template-rows:1fr 10vw 1fr ;
    align-items: center;
}

#screen{
    height: 15vw;
    text-align: center;
}

#img-wrap{
    position: relative;
    width: 20vw;
    height: 20vw;
    
    margin: auto;
}

#img_selected{
    position: absolute;
  left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}

#button{
    margin-top: 30px;
    margin-bottom: 5px;
    border-radius: 3px;
    text-align: center;
}

